@import "tailwindcss";

.visible-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}

.visible-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.visible-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.visible-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}
